// semi 主体性border边框色
$semi-border-color: var(--semi-color-border);
$success-green: var(--semi-color-success);
$success-green-hover: var(--semi-color-success-hover);

// header高度
$header-height: 60px;
