.Register {
  width: 90%;
  margin-right: 10px;
  margin-left: 10px;
  margin: 10px auto;

  // 注册表单
  .form-context {
    flex: 1;
    margin-right: 10px;

    h1 {
      text-align: center;
    }
  }

  :global {
    // semi样式覆盖
    .semi-card-body {
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      display: flex;
      align-items: center;
    }

    .semi-form {
      width: 80%;
      max-width: 400px;
      min-width: 200px;
      margin: 0 auto;
    }

    // 注册、重制
    .operation-btn {
      display: flex;
      justify-content: space-between;

      .semi-button {
        width: 45%;
        margin-right: 5px;
      }
    }
  }

  // 右侧动图
  img {
    width: 100px;
    height: 400px;
    flex: 1;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
  }
}
