.Register {
  display: flex;
  margin-top: 10px;

  // 注册表单
  .register-form {
    flex: 1;
    width: 50%;
    margin-right: 5px;
    margin-left: 10px;

    :global .semi-form {
      width: 80%;
      max-width: 400px;
      min-width: 200px;
      margin: 0 auto;
    }
  }

  img {
    width: 50%;
    height: 100%;
    flex: 1;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 10px;
  }
}
