.home {
  width: 100%;
  margin: 10px;
  text-align: center;
  padding-top: 20px;

  img {
    border-radius: 6px;
    transition: transform 0.5s;
    &:hover {
      transform: scale(1.02);
    }
  }

  p {
    font-size: 21px;
  }
}
