.Header {
  width: 100%;
  height: 60px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid $semi-border-color;

  img {
    width: 50px;
    grid-column: 1 / 1;
    border-radius: 5px;
    cursor: pointer;
  }

  .operation {
    grid-column: 6 / 6;

    .semi-button {
      margin-right: 20px;
    }
  }
}
