.Header {
  width: 100%;
  height: $header-height;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid $semi-border-color;
  box-sizing: border-box;

  img {
    justify-self: flex-start;
    margin-left: 20px;
    width: 50px;
    grid-column: 1 / 1;
    border-radius: 5px;
    cursor: pointer;
  }

  .operation {
    grid-column: 4 / 4;

    .semi-button {
      margin-right: 20px;
    }
  }
}
